*{
    
   
}
.a{
    color: #fff;
text-align: center;
background-color:rgb(15, 51, 51) ;
margin: 1px;
padding: 4%;

}


.asas{
    background-color: rgb(172, 233, 213);
    padding: 10px 20px;
    
}

.book {
background-color: rgb(172, 233, 213);
padding: 10px 20px; 
}













